<!DOCTYPE html>
<html>
<title>Hello Strapdown</title>
<head>
<link href="${path}/core/css/post.css" rel="stylesheet">
<!-- 
<script src="${path}/core/js/jquery-1.4.4.min.js"></script> -->
<script src="${path}/core/js/jquery-2.0.2.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner"> 
        <div class="container"> 
            <div id="headline" class="brand">Hello Strapdown</div> 
        </div> 
    </div>
</div>
	<div class="people">
		<div class="column-sec vcard">
			<div style="text-align:center">
			    <img class="avatar" height="150" src="../../images/pic.png" width="150">
			</div>
			<div class="vcard-names">
				<span class="vcard-fullname"></span> <span class="vcard-username">huangyicheng</span>
			</div>
			<div class="vcard-details">Joined on Jan 03, 2013</div>
			<div class="vcard-stats">
				<a class="vcard-stat" href="/huangyicheng/followers"> <strong
					class="vcard-stat-count">0</strong> 关注
				</a> <a class="vcard-stat" href="/stars"> <strong
					class="vcard-stat-count">1</strong> 粉丝
				</a> <a class="vcard-stat" href="/huangyicheng/following"> <strong
					class="vcard-stat-count">3</strong> 文章
				</a>
			</div>
		</div>
	</div>
	<div class="title">
    <h1 class="article_name" style="text-align:center;">这是文章的名字</h1>
		<div class="article-info" style="text-align:center;">
			<p>
				发表于 2013-10-30 11:32 
				<span class="wordage"data-wordage-uri="/notes/61092/wordage">字数: 1847</span> 阅读量: 32
			</p>
		</div>
	</div>
<textarea theme="united" style="display:none;">
 ${article}
</textarea>

</body>
<script src="${path}/core/markdown/0.2/strapdown.js"></script>
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-924459-10']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</html>