<#include "../common/_layout.html"/>
<@layout>
<link href="${path}/core/fileupload/css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css" />
<link href="${path}/core/fileupload/css/fileUploader.css" rel="stylesheet" type="text/css" />
<link href="${path}/core/uncompressed/elements/segment.css" rel="stylesheet">
<script src="${path}/core/fileupload/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>
<script src="${path}/core/fileupload/js/jquery.fileUploader.js" type="text/javascript"></script>
<div style="padding:20px;">
<div class="ui segment">
  <h2 class="ui left floated header">文章上传</h2>
  <div class="ui clearing divider"></div>
  <div id="main_container">
  
	<form action="${path}/blog/upload/" ENCTYPE="multipart/form-data" METHOD="POST">
		<input type="file" name="fieluplod" class="fileUpload" multiple>
		<button id="px-submit" type="submit">Upload</button>
		<button id="px-clear" type="reset">Clear</button>
	</form>
	
	<!-- 
	 <form action="${path}/blog/upload/" ENCTYPE="multipart/form-data" METHOD="POST" >
		<input type="file" name="fieluplod" id="file"/>
		<input type="submit" value="上传" />
	</form> -->
	<script type="text/javascript">
		jQuery(function($){
			$('.fileUpload').fileUploader();
		});
	</script>
</div>
</div>
</div>

</@layout>